@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Syne:wght@400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  font-family: "Architects Daughter", sans-serif;
  background-color: #2f2d2d;
  color: white;
}
